@layer reset, base, components, utils;

@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        font-size: inherit;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

@layer base {
    :root {
        --cyan-600: #4D96A9;
        --cyan-300: #8FE3F9;
        --purple-600: #855FB1;
        --purple-300: #D9B8FF;
        --slate-900: #28283D;
        --slate-600: #87879D;
        --slate-300: #D1D1DF;
        --white: #FAFAFA;

        --spacing-1400: 112px;
        --spacing-1000: 80px;
        --spacing-900: 72px;
        --spacing-800: 64px;
        --spacing-700: 56px;
        --spacing-500: 40px;
        --spacing-400: 32px;
        --spacing-300: 24px;
        --spacing-200: 16px;
        --spacing-100: 8px;
        --spacing-50: 4px;

        --text-preset-1: 2.5rem;
        --text-preset-2: 2rem;
        --text-preset-3: 0.75rem;
        --text-preset-4: 1rem;
        --text-preset-5: 1rem;

        @media (width >= 768px) {
            --text-preset-1: 3rem;
            --text-preset-2: 2.25rem;
            --text-preset-3: 0.875rem;
        }

        @media (width >= 1024px) {
            --text-preset-1: 4rem;
            --text-preset-2: 2.5rem;
            --text-preset-3: 1rem;
            --text-preset-4: 1.125rem;
        }
    }

    body {
        background-color: var(--white);
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

@layer components {
    img:not([alt="meet logo"]) {
        width: 30%;
    }

    .header-logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-block-start: 48px;
        
        img {
            width: 118px;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-block-start: var(--spacing-800);
        
        @media (width >= 1024px) {
            display: grid;
            grid-template-columns: 440px 640px 440px;
            justify-content: center;
            justify-items: center;
        }

        @media (1215px > width > 768px) {
            grid-template-columns: 440px 530px 440px;
        }
        
        .picture-hero-left {
            @media (width < 1024px) {
                display: flex;
                justify-content: center;
            }
        }

        .picture-hero-right {
            @media (width < 1024px) {
                display: none;
            }
        }

        .photo-portraits {
            width: 430px;

            @media (width >= 768px) {
                width: 820px;
            }

            @media (width >= 1024px) {
                width: 394px;
            }
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-inline: var(--spacing-400);
            padding-block: 48px var(--spacing-400);
    
            @media (width >= 768px) {
                padding-inline: 160px;
            }

            @media (width >= 1024px) {
                padding-inline: 0;
                padding-inline: 100px;
                /* text-wrap: pretty; */
            }

            @media (1215px > width > 768px) {
                padding-inline: 50px;
            }
            
            .main-title {
                margin-block-end: var(--spacing-300);
                text-wrap: balance;
            }
    
            .main-text {
                color: var(--slate-600);
                margin-block-end: var(--spacing-300);
            }
    
            .cta-buttons {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-200);
                align-items: center;

                @media (width >= 768px) {
                    flex-direction: row;
                }
            }
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;        
        text-align: center;
        padding-inline: var(--spacing-400);
        padding-block: var(--spacing-400) var(--spacing-800);
        margin-block-end: var(--spacing-1400);

        @media (width >= 768px) {
            padding-inline: 132px;
            text-wrap: pretty;
        }

        .photo-masonry {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: var(--spacing-200);
            margin-block: var(--spacing-800);

            img {
                width: 147px;
                border-radius: 8px;
            }

            @media (width >= 768px) {
                grid-template-columns: repeat(4, auto);
                grid-template-rows: auto;
                gap: var(--spacing-300);

                img {
                    width: 152px;
                }
            }
        }

        .section-subtitle {
            color: var(--cyan-600);
            text-transform: uppercase;
            margin-block-end: var(--spacing-200);
        }

        .section-title {
            color: var(--slate-900);
            margin-block-end: var(--spacing-400);
        }

        .section-text {
            color: var(--slate-600);
        }
    }

    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url(assets/mobile/image-footer.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-block: var(--spacing-800);
        padding-inline: var(--spacing-400);

        @media (width >= 768px) {
            background-image: url(assets/tablet/image-footer.jpg);
            padding-inline: 132px;
        }

        & > *:not(.footer-bg-color) {
            z-index: 1;
        }

        .divider {
            --negative-translate-y: calc(0px - (
                var(--line-height) + (var(--circle-diameter) / 2)
            ));

            position: absolute;
            top: 0;
            translate: 0 var(--negative-translate-y);

            &::after {
                background-color: var(--white);
            }
        }

        .footer-bg-color {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--cyan-600);
            opacity: .85;
        }

        .footer-title {
            color: var(--white);
            padding-block-end: var(--spacing-300);
        }

        .footer-text {
            color: var(--white);
            padding-block-end: var(--spacing-300);
            text-wrap: pretty;
        }
    }
}

/* reusable components */
@layer components {
    .btn {
        color: var(--white);
        border-radius: 30px;
        padding-inline: var(--spacing-500);
        padding-block: var(--spacing-200);

        &.btn-primary {
            background-color: var(--cyan-600);
    
            span {
                color: var(--cyan-300);
            }
        }

        &.btn-secondary {
            background-color: var(--purple-600);
    
            span {
                color: var(--purple-300);
            }
        }
    }
    
    .divider {
        --line-height: 80px;
        --circle-diameter: 56px;

        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--slate-600);
        font-size: var(--text-preset-5);

        &::before {
            width: 1px;
            height: var(--line-height);
            content: '';
            background-color: var(--slate-300);
        }

        &::after {
            height: var(--circle-diameter);
            width: var(--circle-diameter);
            display: flex;
            justify-content: center;
            align-items: center;
            content: attr(data-number);
            border: 1px solid var(--slate-300);
            border-radius: 50%;
        }
    }
}

@layer utils {
    .text-preset-1 {
        font-size: var(--text-preset-1);
    }

    .text-preset-2 {
        font-size: var(--text-preset-2);
    }

    .text-preset-3 {
        font-size: var(--text-preset-3);
        letter-spacing: 4px;
    }

    .text-preset-4 {
        font-size: var(--text-preset-4);
        font-weight: 500;
    }

    .text-preset-5 {
        font-size: var(--text-preset-5);
    }

    .text-preset-1, .text-preset-2, .text-preset-4, .text-preset-5 {
        letter-spacing: 0px;
    }

    .text-preset-1, .text-preset-2, .text-preset-3, .text-preset-5 {
        font-weight: 900;
    }

    .lh-110 {
        line-height: 110%;
    }

    .lh-150 {
        line-height: 150%;
    }
}